.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




/* Custom shadow classes with specific colors */

.shadow-primary {
  --bs-shadow-rgb: var(--bs-primary-rgb);
}

.shadow-secondary {
  --bs-shadow-rgb: var(--bs-secondary-rgb);
}

.shadow-success {
  --bs-shadow-rgb: var(--bs-success-rgb);
}

.shadow-info {
  --bs-shadow-rgb: var(--bs-info-rgb);
}

.shadow-warning {
  --bs-shadow-rgb: var(--bs-warning-rgb);
}

.shadow-danger {
  --bs-shadow-rgb: var(--bs-danger-rgb);
}

.shadow-light {
  --bs-shadow-rgb: var(--bs-light-rgb);
}

.shadow-dark {
  --bs-shadow-rgb: var(--bs-dark-rgb);
}